/* estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 1rem;
}

li, a, i {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrap { 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.mi-container {
  padding: 0 25px;
  display: flex;
  gap: 20px;
}

.caja {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
}

/* header */

.header {
  background-color: white;
  padding: 0;
  padding: 0 25px;
}

.logo {
  padding: 10px;
  font-family: "Nova Square", sans-serif;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.mi-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.nav-buscador {
  display: flex;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  flex-grow: 1;
  align-items: center;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 5px 5px 20px ;
  
}

.nav-buscador-text{
  font-size: 1rem;
  height: 100%;
  flex-grow: 1;
  border: none;
  border: none;
  outline: none;
  background-color: transparent;
}

.nav-buscador-submit{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1rem;
  border: none;
  color: white;
  background-color: orange;
  padding: 5px 25px;
  border-radius: 25px;
}

.nav-items {
  display: flex;
  gap: 15px;
  margin: 0;
}

/* banner */

.banner {
  padding: 0;
  margin-bottom: 10px;
}

.promocional {
  width: 100%;
}


.carousel {
  max-height: 40vw;
  overflow: hidden;
}

.carousel-img {
  object-fit: cover;
  object-position: center;
  position: relative;
  transform: translateY(-8%);
}

/* aside */

.aside {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.aside li {
  font-size: 1rem;
}

.category {
  padding: 15px;
}

.category-icon {
  width: 20px;
}

/* main */

.main {
  background-color: transparent;
  border: none;
  display: inline-flex;
  gap: 20px;
  flex-wrap: wrap;
  
}

.item {
  background-color: white;
  border: 1px solid black;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

.footer {

  padding-top: 0;
}

/* Responsive */

@media screen and (max-width: 629px) {
  .logo {
    margin: 0 auto;
  }
}