/* estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size:  34px;
}

h2 {
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}

li, a, i {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/* header */

.usuario, .buscador, .header ul, button{
  display: flex;
  align-items: center;
}

.buscador {
  height: 32px;
  border: 1px solid black;
  padding:0;
  padding-left: 20px;
  border-radius: 17px;
  transform: translateZ(0);
}

.buscador-input {
  font-size: 14px;
  flex: 1;
  border: none;
  outline: none;
}

.buscador-boton {
  font-size: 14px;
  height: 30px;
  padding: 0 20px;
  display: flex;
  gap: 8px;
  color: white;
  background-color: black;
  border-radius: 175px;
  border: none;
}

.usuario{
  font-size: 30px;
  gap: 8px;
}


/* banner */

.banner {
  padding: 0;
  margin-bottom: 10px;
}

.promocional {
  width: 100%;
}


.carousel {
  max-height: 40vw;
  overflow: hidden;
}

.carousel-img {
  object-fit: cover;
  object-position: center;
  position: relative;
  transform: translateY(-8%);
}

